<launch>
	<node pkg="parakeet_ros" name="parakeet_ros_talker" type="parakeet_ros_talker">
		<param name="port" value="/dev/ttyUSB0" />
		<param name="baudrate" value="0" />
		<param name="intensityData" value="true" />
		<param name="scanningFrequency_Hz" value="10" />
		<param name="dataSmoothing" value="false" />
		<param name="dragPointRemoval" value="false" />

		<!-- Optional, default is "scan" -->
		<param name="laserScanTopic" value="scan" />
	</node>
</launch>
