<launch>
	<param name="sensorType" value="ProE" />
	<param name="ipAddress" value="192.168.158.98" />
	<param name="lidarPort" value="6543" />
	<param name="localPort" value="6668" />
	<param name="intensityData" value="true" />
	<param name="scanningFrequency_Hz" value="10" />
	<param name="dataSmoothing" value="false" />
	<param name="dragPointRemoval" value="false" />
	<param name="resampleFilter" value="true" />

	<!-- Optional, default is "scan" -->
	<param name="laserScanTopic" value="scan" />

	<!-- Optional, default is "laser" -->
	<param name="laserScanFrameID" value="laser" />

	<node pkg="parakeet_ros" type="parakeet_ros_talker" name="parakeet_ros_talker_name"/>
</launch>
